<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="classpath*:jpa-hibernate-configuration.xml" />

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:datasource.properties</value>
        <value>classpath:security.properties</value>
      </list>
    </property>
  </bean>

  <!--  bean id="sektorRaadRepository" class="se.vgregion.verticalprio.repository.JpaSektorRaadRepository" -->
  
  
  <bean id="prioRepository" class="se.vgregion.verticalprio.repository.JpaPrioRepository" />


  <!-- All these beans inherit the generic JpaKodRepository because they all represent common "code tables" -->
  <bean name="aatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AatgaerdsKod" />
  </bean>
  <bean name="sektorRaadRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktHierarkisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.SektorRaad" />
  </bean>
  <bean name="aatgaerdsRiskKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AatgaerdsRiskKod" />
  </bean>
  <bean name="abstractKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AbstractKod" />
  </bean>
  <bean name="diagnosKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktHierarkisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.DiagnosKod" />
  </bean>
  <bean name="haelsonekonomiskEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.HaelsonekonomiskEvidensKod" />
  </bean>
  <bean name="kostnadLevnadsaarKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.KostnadLevnadsaarKod" />
  </bean>
  <bean name="patientnyttaEffektAatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.PatientnyttaEffektAatgaerdsKod" />
  </bean>
  <bean name="patientnyttoEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.PatientnyttoEvidensKod" />
  </bean>
  <bean name="rangordningsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.RangordningsKod" />
  </bean>
  <bean name="tillstaandetsSvaarighetsgradKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.TillstaandetsSvaarighetsgradKod" />
  </bean>
  <bean name="vaardformsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaardformsKod" />
  </bean>
  <bean name="vaardnivaaKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaardnivaaKod" />
  </bean>
  <bean name="vaentetidsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaentetidsKod" />
  </bean>

</beans>
