@CHARSET "UTF-8";

div, span, button, input, textArea, select, td, a {
  font-family: arial; 
  font-size: 14px;
  font: arial;
}

h4 {
  font-weight: bold;  
}

.standardInput {
  background-color: #FBF9DD;
  font-family: arial;
  font-size: 12px;
}

.standardInputCheckBox {
}

body {
  margin: 5px;
}

.main {
  width: 100%;
}

.button {
    background-color: #EEE8AA;
    border-style: groove;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

button {
  height: 24px;   
}

.sector-node div {
  padding-left: 10px;
  font-family: arial;
}

.sectors {
  padding: 10px;
  border: thin solid gray;
  margin-right: 10px;
}

.button-row {
  width: 100%;
  white-space: nowrap;
  padding-bottom: 4px;
}

.sectors {
  min-width: 100px;
  float: left;
  height: 100%;
}

.button-row form {
  display: inline;
}

.conf-columns {
  left: 2em;
}

.sectorsAndButtons {
  #white-space: nowrap;
}

.button-row .export-data-buttons {
  padding-left: 2em;
  padding-right: 2em;
}

.rowsAndButtons {
  float: left;
  max-width: 200px;
  min-width: 200px;
}

.headerRow {
  background-color: CadetBlue;
}

.conditionRow {
  background-color: GoldenRod;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  
  border-top-color: black;
  border-top-style: solid;
  border-top-width: thin;
}

.rowsAndButtons table thead td h3 {
  font-weight: bold;
  padding-right: 1em;
  margin: 0px;
  padding: 0px;
}

.rowsAndButtons table td {
  padding-right: 1em;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: thin;
  font-family: arial;
  vertical-align: top;
  max-width: 20em;
  overflow: hidden;
  padding: 2px;
}

.rowsAndButtons table .even {
  background-color: silver;
}

.rowsAndButtons table .odd {
  background-color: #eeeeee;
}

.rowsAndButtons table {
  border-collapse:collapse;
  border:thin black solid;
}

.footer {
  background-color: yellow;
  clear: both
}

#select-prio, #delete-prio, #edit-prio, #approve-prio {
  display: none;
}

.popup-overlay {
  left: 0px; 
  top: 0px; 
  text-align: center; 
  position: absolute; 
  width: 100%; 
  height: 100%;
  opacity:0.4;
  filter:alpha(opacity=40);
  background-color: black;
}

.window {
  position: relative;
  z-index: 100;
}

.popup-overlay .window {
  position: relative; 
  top:10%; 
  background-color: lime; 
  background-repeat: repeat;
  opacity:1.0;
  filter:alpha(opacity=1);
}

.popup-overlay .window form { 
  opacity:1.0;
  filter:alpha(opacity=1);
  background-color: white;
  display: inline;
  width: 100%;
  height: 100%;
}

.select-diagnoses table td {
  vertical-align: top;
  text-align: left;
}

.kod, .kod-label {
  display: block;
  font-style: italic;
}

.prio-view {
  max-width: 600px;
  min-width: 300px;
  text-align: center;
}

.prio-view form {
  text-align: center;
}

.prio-view .values {
  width: 60em;
  background-color: white;
  border-bottom-color: silver;
  border-width: thin;
  border-style: solid;
  border-spacing: 1em;
  margin: auto;
  text-align: left;
  padding: 1em;
}


.find-select-code {
  display: block;
  clear:both;
}

.find-select-code .findings {
  overflow: auto;
  max-height: 3em;
}


.findings label {
    letter-spacing: 0;
    word-spacing: 0;
}


.find-select-code .selected, .find-select-code .findings {
  float: left;
  width: 50%;
  min-height: 1em;
}



.find-select-code .label, .find-select-code .findings {
  float: right;
  clear: right;
}

.find-select-code .label {
  width: 50%;
  
}

.prio-form-grid .cell select {
  float: left;
  width: 90%;
}

.prio-form-grid .cell {
  float: left;
  width: 20%;
}

.prio-form-grid .end {
  clear: right;
}

.prio-form-grid {
  clear:both;
}

.choose-code .values {
  height: 37em;
}

.choose-code .find-select-code .findings {
  max-height: 100%;
}

label {
  font-family: arial;
}

.left {
  float: left;
}

.center {
  text-align: center;  
}

.rPadding2em {
  padding-right: 2em; 
}

.aatgaerdskoder {
  white-space: nowrap; 
}