<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

  <import resource="classpath*:local-jpa-hibernate-configuration.xml" />
  
  <!--<context:component-scan base-package="se.vgregion.verticalprio.repository" />-->

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:datasource.properties</value>
        <value>classpath:security.properties</value>
      </list>
    </property>
  </bean>

  <!--  bean id="sektorRaadRepository" class="se.vgregion.verticalprio.repository.JpaSektorRaadRepository" -->
  
  <bean name="prioRepository" class="se.vgregion.verticalprio.repository.JpaPrioRepository" />

  <!-- All these beans inherit the generic JpaKodRepository because they all represent common "code tables" -->
  <bean name="aatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AatgaerdsKod" />
  </bean>
  <bean name="diagnosRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktFinderRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.DiagnosKod" />
  </bean>
  <bean name="sektorRaadRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktHierarkisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.SektorRaad" />
  </bean>
  <bean name="aatgaerdsRiskKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AatgaerdsRiskKod" />
  </bean>
  <bean name="diagnosKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktHierarkisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.DiagnosKod" />
  </bean>
  <bean name="haelsonekonomiskEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.HaelsonekonomiskEvidensKod" />
  </bean>
  <bean name="kostnadLevnadsaarKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.KostnadLevnadsaarKod" />
  </bean>
  <bean name="patientnyttaEffektAatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.PatientnyttaEffektAatgaerdsKod" />
  </bean>
  <bean name="patientnyttoEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.PatientnyttoEvidensKod" />
  </bean>
  <bean name="rangordningsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.RangordningsKod" />
  </bean>
  <bean name="tillstaandetsSvaarighetsgradKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.TillstaandetsSvaarighetsgradKod" />
  </bean>
  <bean name="vaardformsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaardformsKod" />
  </bean>
  <bean name="vaardnivaaKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaardnivaaKod" />
  </bean>
  <bean name="vaentetidsKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.VaentetidsKod" />
  </bean>
  <bean name="atcKodRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.AtcKod" />
  </bean>
  
  <bean name="userRepository" class="se.vgregion.verticalprio.repository.JpaGenerisktKodRepository">
    <constructor-arg value="se.vgregion.verticalprio.entity.User" />
  </bean>

  <bean name="applicationData" class="se.vgregion.verticalprio.ApplicationData"/>


</beans>
