<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="classpath*:jpa-hibernate-configuration.xml" />

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:datasource.properties</value>
        <value>classpath:security.properties</value>
      </list>
    </property>
  </bean>

  <bean id="sektorRaadRepository" class="se.vgregion.verticalprio.repository.JpaSektorRaadRepository" />
  <bean id="prioRepository" class="se.vgregion.verticalprio.repository.JpaPrioRepository" />

  <bean id="aatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaAatgaerdsKodRepository" />
  <bean id="aatgaerdsRiskKodRepository" class="se.vgregion.verticalprio.repository.JpaAatgaerdsRiskKodRepository" />
  <bean id="diagnosKodRepository" class="se.vgregion.verticalprio.repository.JpaDiagnosKodRepository" />
  <bean id="haelsonekonomiskEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaHaelsonekonomiskEvidensKodRepository" />
  <bean id="kostnadLevnadsaarKodRepository" class="se.vgregion.verticalprio.repository.JpaKostnadLevnadsaarKodRepository" />
  <bean id="patientnyttaEffektAatgaerdsKodRepository" class="se.vgregion.verticalprio.repository.JpaPatientnyttaEffektAatgaerdsKodRepository" />
  <bean id="patientnyttoEvidensKodRepository" class="se.vgregion.verticalprio.repository.JpaPatientnyttoEvidensKodRepository" />
  <bean id="rangordningsKodRepository" class="se.vgregion.verticalprio.repository.JpaRangordningsKodRepository" />
  <bean id="tillstaandetsSvaarighetsgradKodRepository" class="se.vgregion.verticalprio.repository.JpaTillstaandetsSvaarighetsgradKodRepository" />
  <bean name="vaardformsKodRepository" class="se.vgregion.verticalprio.repository.JpaVaardformsKodRepository" />
  <bean id="vaardnivaaKodRepository" class="se.vgregion.verticalprio.repository.JpaVaardnivaaKodRepository" />
  <bean id="vaentetidsKodRepository" class="se.vgregion.verticalprio.repository.JpaVaentetidsKodRepository" />

</beans>
